# Ignore all node_modules folders
**/node_modules/

# Ignore all .env files
**/.env

# Ignore firebase-service-account.json
/backend/config/firebase-service-account.json

# Ignore logs
*.log

# macOS junk
.DS_Store

# Windows junk
Thumbs.db

# VSCode settings
.vscode/

# Build and dist folders (in case you have them later)
**/build/
**/dist/

# Coverage reports (e.g., from testing)
**/coverage/